html {

		margin: 0;

}
body {
	background-color: #2b2b2b;
}

span{

	color: #f27609;
}

.navigation {

		background-color: red;
		width: auto;

}

.navigation ul {
		width: 20px;
		display: inline-block;
		
}

.navigation li{

		display: inline-block;
		padding: 0px;
		
}

.content img{


}